h1 {
  margin-bottom: 10px;
  margin-left: 10px;

  font-size: 26px;
}

input {
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid darkgrey;

  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid green;
  }
}
